.details-product {
    & h1 {
      font-weight: 700;
      
    }
  
    & h2 {
      font-weight: 700;
      color: #108545;
      font-size: 1.5rem;
    } 
  
    & .product-info {
      
      & button{
          padding: 10px 25px;
          border-radius: 30px;
      }
    }
  & img {
    cursor: pointer;
  }
  
  
  }
  
  
  